<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/login/login.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/font.css'%}">
    <title>Вход</title>
</head>
<body>
    
    <div class="container">
        
        <div class="left">
            <h1>Welcome Back!</h1>
        </div>
        
        <div class="login">
            <div class="login-container">
                <h2>Вход в аккаунт</h2>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="username" placeholder="Логин" required>
                    </div>
        
                    <div>
                        <input type="password" name="password" placeholder="Пароль" required>
                    </div>
        
                    <button type="submit">Войти</button>
                </form>
                <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
                <p><a href="{% url 'index' %}">← На главную</a></p>
            </div>
        
        </div>
        
    </div>
</body>
</html>