body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F5F5;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 200px;
    position: relative;
}

.container::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    position: absolute;
    z-index: 1;
}

.container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 300px;
}

.container .left h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Unbounded', Arial, sans-serif;
    font-size: 70px;
    color: #F0F0F0;
    z-index: 2;
    max-width: 200px;
}

.left .photo1 {
    width: 170px;
    position: absolute;
    animation: photo1 30s infinite alternate;
    opacity: 1;
}

.left .photo2 {
    width: 200px;
    position: absolute;
    left: 300px;
    animation: photo2 30s infinite alternate;
    opacity: 1;
}

.left .photo3 {
    width: 170px;
    right: 200px;
    position: absolute;
    animation: photo3 10s infinite alternate;
    opacity: 1;
}

.left .photo4 {
    width: 170px;
    right: 250px;
    position: absolute;
    animation: photo4 10s infinite alternate;
    opacity: 1;
}

.left .photo5 {
    width: 170px;
    position: absolute;
    left: 240px;
    animation: photo5 10s infinite alternate;
    opacity: 1;
}

@keyframes photo1 {
    0% {
        transform: scale(5);
        opacity: 1;
    }
    20% {
        transform: scale(6) rotate(40deg);
        opacity: 0.5;
        
    }
    40% {
        transform: scale(2) rotate(-30deg);
        opacity: 1;
    }
    60% {
        transform: scale(3) rotate(10deg);
        opacity: 1;
    }
    80% {
        transform: scale(4);
        opacity: 0.5;
    }
    100% {
        transform: scale(5) rotate(-10deg);
        opacity: 1;
    }
}

@keyframes photo2 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20% {
        transform: scale(2) rotate(40deg);
        opacity: 1;
        
    }
    40% {
        transform: scale(4) rotate(30deg);
        opacity: 1;
    }
    60% {
        transform: scale(3) rotate(10deg);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3) rotate(-10deg);
        opacity: 0;
    }
}

@keyframes photo3 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20% {
        transform: scale(2) rotate(40deg);
        opacity: 0.5;
        
    }
    40% {
        transform: scale(4) rotate(-30deg);
        opacity: 1;
    }
    60% {
        transform: scale(6) rotate(50deg);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3) rotate(-20deg);
        opacity: 1;
    }
}

@keyframes photo4 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20% {
        transform: scale(1) rotate(-40deg);
        opacity: 0.5;
        
    }
    40% {
        transform: scale(0.5) rotate(20deg);
        opacity: 1;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(2) rotate(30deg);
        opacity: 0.5;
    }
    100% {
        transform: scale(6) rotate(-10deg);
        opacity: 1;
    }
}

@keyframes photo5 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20% {
        transform: scale(2) rotate(-40deg);
        opacity: 0;
        
    }
    40% {
        transform: scale(4) rotate(30deg);
        opacity: 0;
    }
    60% {
        transform: scale(5.5) rotate(-10deg);
        opacity: 0;
    }
    80% {
        transform: scale(4);
        opacity: 1;
    }
    100% {
        transform: scale(6) rotate(-10deg);
        opacity: 1;
    }
}

.login-container {
    max-width: 500px;
    width: 100%;
    padding: 60px;
    z-index: 2;
    font-family: 'Montserrat';
}

.login-container h2 {
    font-family: 'Unbounded', Arial, sans-serif;
    font-size: 35px;
}

.login-container a {
    text-decoration: none;
}

.login-container input {
    border-radius: 5px;
    width: 100%;
    padding: 15px 10px;
    background-color: #F5F5F5;
    border: 1px solid rgb(202, 202, 202);
    font-size: 15px;
    font-family: 'Montserrat';
    margin-top: 15px;
    box-sizing: border-box;
}

.login-container input:focus {
    border: 1px solid red !important;
}

button {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
    font-family: 'Montserrat';
    color: #F0F0F0;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #009175;
    border: 1px solid #009175;
    color: #F0F0F0;
}
