<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/my_tour.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/font.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/notification.css'%}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="messages_thanks">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <section class="header-section">
        <nav class="menu-header">
            <div class="logo-header">
                <a href="{% url 'index'%}">
                    <p>Speed & Travel</p>
                </a>
            </div>
            <div class="contact-info">
                <p id="id_reviews">Отзывы</p>
                <p class="about" id="id_aboutUs">О нас</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <p class="login-register">Выйти</p>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <p class="login-register">Войти</p>
                    </a>
                {% endif  %}
            </div>
        </nav>
    </section>
    <section class="main">
        <div class="tour-list">
            {% for tour in tours %}
            <div class="tourId">
                <div class="direction">
                    <h3>{{tour.get_direction_display}}</h3>
                    <div class="direction-status-{{tour.status}}">
                        <p>{{tour.get_status_display}}</p>
                    </div>
    
                </div>
                <div class="place">
                    <!-- ЭКСКУРСИОННЫЙ -->
                    {% if tour.paris_excursion or tour.rome_excursion or tour.istanbul_excursion or tour.saint_excursion %}
                    <div class="img">
                        {% if tour.paris_excursion == "eifell_tower" %}
                            <img src="{% static 'main/images/EiffelTower.png' %}">
                        {% elif tour.paris_excursion == "louvre" %}
                            <img src="{% static 'main/images/Louvre.png' %}">
                        {% endif %}
                    </div>
                    <div class="text">
                        {% if tour.paris_excursion == "eifell_tower" %}
                        {{tour.get_paris_excursion_display}}
                        {% elif tour.paris_excursion == "louvre" %}
                        {{tour.get_paris_excursion_display}}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="data">
                    <p>Дата: {{tour.departure_date}}</p>
                    <div class="user">
                        <img src="{% static 'main/images/userIcon.png' %}">
                        <p>{{tour.name}}</p>
                    </div>
                    <div class="phone">
                        <img src="{% static 'main/images/phoneIcon.png' %}">
                        <p>{{tour.number}}</p>
                    </div>
                    
                    
                    <p>Email: {{tour.email}}</p>
                </div>
                <div class="button">
                    {% if tour.status == "cancel" %}
                    <a href="{% url 'restart_tour' tour.id %}">
                        <button type="button">Возобновить</button>
                    </a>
                    <a href="{% url 'delete_tour' tour.id %}">
                        <button>Удалить</button>
                    </a>
                    {% elif tour.status == "completed" %}
                    <a href="{% url 'delete_tour' tour.id %}">
                        <button>Удалить</button>
                    </a>
                    {% else %}
                    <a href="{% url 'cancel_tour' tour.id %}">
                        <button>Отменить</button>
                    </a>
                    {% endif %}
                </div>
                
                
            </div>
            {% empty %}
            {% endfor %}
        </div>
        </div>
    </section>
    
    <script src="{% static 'main/js/script_my_tour.js' %}"></script>
</body>
</html>