body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

/* МЕНЮ */
.header-section{
    position: fixed;
    background-color: #F5F5F5;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.menu-header p {
    color: black;
}

.menu-header a {
    text-decoration: none;
}

.logo-header p {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Liter', sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
}

.contact-info p {
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.4s ease;
}

.contact-info p:hover{
    background: #e9fd9a;
    cursor: pointer;
}

/* ФИЛЬТРЫ */
.filter {
    display: flex;
    justify-content: space-between;
    margin: 200px 400px 50px 400px;
    gap: 50px;
}

.filter a {
    text-decoration: none;
}

/* СОРТИРОВКА ПО НАПРАВЛЕНИЮ */
.filter-direction {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    padding: 5px 20px;
}

.filter-direction p {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
}

/* СОРТИРОВКА ПО ДАТЕ */
.filter_date {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    gap: 10px;
}

.filter_date form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter_date input {
    border-radius: 20px;
    border: 2px solid #03146F;
    padding: 2px 10px;
    font-family: 'Montserrat';
    cursor: pointer;
}

.filter_date button {
    border-radius: 20px;
    border: 2px solid #384171;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #384171;
    color: white;
    font-family: 'Montserrat';
}

.filter_date form a {
    border-radius: 20px;
    border: 2px solid #384171;
    background-color: #384171;
    color: white;
    padding: 5px 20px;
    font-size: 14px;
    font-family: 'Montserrat';
}

/* НАШИ ТУРЫ */
.our_tour_full {
    margin: 0 400px;
    font-family: 'Montserrat';
}

.our_tour{
    padding: 20px;
}

.our_tour .tour{
    border-radius: 10px;
    border-top: 10px solid #03146F;
    padding: 30px;
    background-color: white;
}